/* body {
    font-family: sans-serif;
    background-color: pink;
    background-image: url("./images/cloudbg.jpg");
    } */
    /* p {
    color: green;
    } */
    a {
    text-decoration: underline;
    }
    
    a:link{color: #FF0000;}
    a:hover { color: #FF00FF; }
    ul{
        font-style: bold;
        color: blue;
    }
    #sec1{color:aqua}
    #mytitle{color: black;}
    #mymoods{
      padd
    }
    