body{
    border: solid 2px #f9a4a4;
    border-radius: 20;
    background-color: beige;
    
}
#container{
    width: 500px;
    height: 500pxm;
    background-color: rgb(213, 231, 213);
    align-items: center;
}
.outer{
    margin-left: 250px;
    margin-right: 250px;
}
.outer input {
    text-align: center;
    display: block;
    /* margin: 5px; */
    font-weight: bold;
  }
  
h1{text-align: center;}